*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-image: linear-gradient(to bottom, #8e47a8, #0066bf, #0072a8, #007476, #1c6f47);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Permanent Marker', cursive;
}

#container{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    transition: transform 0.5s ease-out;
}

.board{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.01rem;
    transition: font-size 0.2s ease-out;
}

.board:hover{
    cursor:pointer;
}

[data-index="0"], [data-index="1"], [data-index="2"]{
    border-bottom: 4px solid rgb(32, 43, 56);
}

[data-index="3"], [data-index="4"], [data-index="5"]{
    border-bottom: 4px solid rgb(32, 43, 56);
}

[data-index="0"], [data-index="3"], [data-index="6"]{
    border-right: 4px solid rgb(32, 43, 56);
}

[data-index="1"], [data-index="4"], [data-index="7"]{
    border-right: 4px solid rgb(32, 43, 56);
}

.player-section{
    color:rgb(24, 32, 41);
    font-size: 4rem;
}

.computer-section{
    transition-delay: 0.4s;
    color:rgb(211, 208, 208);
    font-size: 4rem;
}

#end-game-declare{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100vw;
    background: transparent;
    transition: all 0.5s ease-out;
    transition-delay: 0.3s;
    font-size: 5rem;
    color:rgb(24, 32, 41);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20vh;
}

#again-button{
    width:400px;
    height: 40px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    background-color: rgba(230, 209, 209, 0.171);
    border: none;
    border-radius: 10px;
    color: rgb(32, 43, 56);
    transition: all 0.1s ease;
}

#end-game-declare button:hover{
    cursor:pointer;
    background-color: rgba(143, 164, 119, 0.44);
}

#end-game-declare button:focus{
    outline:0;
}

.end-game-declare-trigger{
    left:0 !important;
}

.end-game-container-move{
    transform:translateX(1300px);
}

#start-game{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(48, 101, 117, 0.884);
    padding-top: 30vh;
    transition: all 0.5s ease;
    color: rgb(22, 31, 43);
}

#start-game p{
    font-size: 5rem;
}

.start-game-remove{
    top: -100vh !important;
}

#start-game-buttons{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.start-game-button{
    flex-grow: 1;
    height: 45px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    background-color: rgba(230, 209, 209, 0.171);
    border: none;
    border-radius: 10px;
    color: rgb(32, 43, 56);
    transition: all 0.1s ease;
    margin-left: 3px;
}

#easy:hover{
    cursor: pointer;
    background-color: rgba(143, 164, 119, 0.568);
}

#ai:hover{
    cursor: pointer;
    background-color: rgba(164, 119, 123, 0.568);
}

#difficulty-change-section{
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(32, 43, 56);
    border-radius: 20px;
    padding:10px;
    margin-top: 25px;
}

#end-game-declare-change-difficulty{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#end-game-declare-difficulty-text{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
    color: rgb(32, 43, 56);
}

#end-game-declare-difficulty-button-easy{
    margin-right: 5px;
}

#end-game-declare-difficulty-button-ai:hover{
    cursor: pointer;
    background-color: rgba(164, 119, 123, 0.568);
}

#end-game-declare-difficulty-button-easy:hover{
    cursor: pointer;
    background-color: rgba(143, 164, 119, 0.568);
}

@media(max-width: 530px){

    #start-game p {
        font-size: 3rem;
    }

    #start-game-buttons{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .start-game-button{
        margin-top: 5px;
        margin-left: 0px;
    }

    #end-game-declare{
        font-size: 3rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    #again-button{
        width:100%;
    }

    #end-game-declare-button{
        font-size: 1.5rem;
    }

    #end-game-declare-difficulty-button-easy{
        margin-right: 5px;
    }
    
    #container{
        height: 50vh;
        margin-top: 25vh;
    }
}