*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #8e47a8, #0066bf, #0072a8, #007476, #1c6f47);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.board{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 0.1rem;
    transition: font-size 0.2s ease-out;
}

.board:hover{
    cursor:pointer;
}

[data-index="0"], [data-index="1"], [data-index="2"]{
    border-bottom: 4px solid rgb(32, 43, 56);
}

[data-index="3"], [data-index="4"], [data-index="5"]{
    border-bottom: 4px solid rgb(32, 43, 56);
}

[data-index="0"], [data-index="3"], [data-index="6"]{
    border-right: 4px solid rgb(32, 43, 56);
}

[data-index="1"], [data-index="4"], [data-index="7"]{
    border-right: 4px solid rgb(32, 43, 56);
}

.player-section{
    color:rgb(24, 32, 41);
    font-size: 4rem;
}

.computer-section{
    transition-delay: 0.4s;
    color:rgb(211, 208, 208);
    font-size: 4rem;
}